@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff; /* Couleur de fond pour le mode clair */
  --foreground: #171717; /* Couleur de texte pour le mode clair */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a; /* Couleur de fond pour le mode sombre */
    --foreground: #ededed; /* Couleur de texte pour le mode sombre */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}